body {
	font-size : 12px;
}
a {
	font-size: 12px;
	color: black;
	text-decoration: none;
}
a:HOVER {
	color:green;
	text-decoration:undeline;
}
#top {
	height: 150px;
}
#center {
	height: 550px;
}
#bottom {
	height: 100px;
}
